<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Swipe Video Cards VIDEO</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="elements">
  <div class="container">
    <div class="slide slide1 index4">
      <video id="paris" height="310" autoplay="autoplay" muted="muted" loop="loop" poster="https://ottball.com/content/images/2020/06/image-3.png">//, controls)
        <source src="https://storage.googleapis.com/ottball-b-1/videos/tos/youcompress.mp4" type="video/mp4"/>Your browser doesn't support HTML5 video tag.
      </video>
    </div>
    <div class="slide index3">
      <video id="italy" height="310" muted="muted" loop="loop" poster="https://ottball.com/content/images/2020/06/image-3.png">
        <source src="https://storage.googleapis.com/ottball-b-1/videos/tos/youcompress.mp4" type="video/mp4"/>Your browser doesn't support HTML5 video tag.
      </video>
    </div>
    <div class="slide index2">
      <video id="hongkong" height="310" muted="muted" loop="loop" poster="https://ottball.com/content/images/2020/06/image-3.png">
        <source src="https://storage.googleapis.com/ottball-b-1/videos/tos/youcompress.mp4" type="video/mp4"/>Your browser doesn't support HTML5 video tag.
      </video>
    </div>
    <div class="slide index1">
      <video id="prog" height="310" muted="muted" loop="loop" poster="https://ottball.com/content/images/2020/06/image-3.png">
        <source src="https://storage.googleapis.com/ottball-b-1/videos/tos/youcompress.mp4" type="video/mp4"/>Your browser doesn't support HTML5 video tag.
      </video>
    </div>
  </div>
  <div class="description">
    <div class="description__country"><span>Paris, France</span>
    </div>
    <div class="description__country hide"><span>La Crusc, Italy</span>
    </div>
    <div class="description__country hide"><span>Hong Kong, China</span>
    </div>
    <div class="description__country hide"><span>Thx for watching</span>
    </div>
    <div class="description__line"></div>
    <div class="description__text">
      <button class="like">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      </button>
      <button class="dislike">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      </button>
    </div>
    <div class="description__text hide">
      <button class="like">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      </button>
      <button class="dislike">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      </button>
    </div>
    <div class="description__text hide">
      <button class="like">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      </button>
      <button class="dislike">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      </button>
    </div>
    <div class="description__text hide">
      <button class="like">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      </button>
      <button class="dislike">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
