@import url("https://fonts.googleapis.com/css?family=Questrial");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
}

body {
  background: #fcfcfc;
  overflow-x: hidden;
  font-family: "Questrial", sans-serif;
}

.navbar {
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.logo {
  border-radius: 50%;
  width: 70%;
  height: 70%;
}
.nav-item {
  font-size: xx-large;
}
.navbar-default {
  background-color: #FFD8E1;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #E12323;
}

.d-flex {
  margin-left: auto;
  margin-right: 0;
}

.elements {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 51rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  margin: 3rem auto 0;
  width: 32rem;
}

.slide {
  position: absolute;
  height: 31rem;
  width: 32rem;
  border-radius: 3px;
  background-color: gray;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
}

#paris {
  margin-left: -15rem;
}

#italy, #prog {
  margin-left: 0rem;
}

#hongkong {
  margin-left: -10rem;
}

.index1 {
  z-index: 1;
}
.index2 {
  z-index: 2;
}
.index3 {
  z-index: 3;
}
.index4 {
  z-index: 4;
}

.description {
  position: absolute;
  top: 39rem;
  margin: auto 4.2rem;
  width: 26.6rem;
}
.description__line {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}
.description__country, .description__text {
  position: absolute;
  will-change: transform, opacity;
  transform: translateZ(0);
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.74, 0.05, 0.94, 0.36);
}
.description__country {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}
.description__text {
  top: 5rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: #aaaaaa;
  transition-delay: 0.03s;
}
.description__text.hide {
  transition-delay: 0.28s;
}

.fadeout-up {
  opacity: 0;
  transform: translate3D(0, -2rem, 0);
}

.hide {
  opacity: 0;
  transform: translate3D(0, 2rem, 0);
  transition: all 0.25s cubic-bezier(0.05, 0.67, 0.47, 0.99);
  transition-delay: 0.25s;
}

.fadein-up {
  opacity: 1;
  transform: translate3D(0, 0, 0);
}

svg {
  width: 3.5rem;
  height: 2.3rem;
  position: absolute;
  right: 0;
  top: -0.1rem;
}

button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}